﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RetoGrupo7Steven.aspx.cs" Inherits="GitLabRetos.Paginas.RetoGrupo7Steven" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
