﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RetoGrupo4Mario.aspx.cs" Inherits="GitLabRetos.Paginas.RetoGrupo4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">



</asp:Content>
