﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RetoGrupo7Cristopher.aspx.cs" Inherits="GitLabRetos.Paginas.RetoGrupo7Cristopher" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
