﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RetoGrupo4Victor.aspx.cs" Inherits="GitLabRetos.Paginas.RetoGrupo4Victor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
